.fright{
	float:right;
}
.linea{
    border-right: black 1px solid;
}
nav li{
	padding:8px;
	font-size:18px;
	position:relative;
	display: inline;
	top:20px;
}
li a{
	list-style-type: none;
	text-decoration: none;
	color:#989898;
}
.boton{
	margin-top: 17px;
	border-radius:10%;   
	background-color:gray;
	width:80px;
	height:30px;
	padding:4px; 
}
.azul{
	background-color:E1F9FA;
	width:100%;
	height:60px;  
}
.logo{
	margin-top:10px;
}
#boton{
	background-color:#ff6a49;
	width:20%;
	height:40px;
	border-radius:10%;    
	padding:5px;
	margin-left:370px;
	margin-top:130px;   
}
.letra{
	font-size:25px;
}
#fondogris{
	background-color:#989898;
	width:100%;
	height:220px;
	margin-top:5%;   
}